.reset {
  background-color: chartreuse;
  text-align: center;
  /* margin-top: 50px; */
  width: 100%;
}
h1 {
  margin-top: 10px;
  text-align: center;
  font-size: xx-large;
}

p {
  margin-top: 10px;
  text-align: center;
}
label {
  /* display: block; */
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: start;
  width: auto;
}
